{{!-- Main body --}}

<div class="row align-items-center">
    <div class="col-lg-6">
        <div class="text-center d-none d-lg-block mt-5">
            <h1>Your Personalized Stock Advisor</h1>
            <a href="/quiz"><button>Take Your Quiz</button></a>
        </div>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid" src="imgs/stock1.png" alt="">
    </div>
</div>

<div class="row align-items-center content">
    <div class="col-lg-6">
        <img class="img-fluid" src="/imgs/stock2.png" alt="">
    </div>
    <div class="col-lg-6">
        <div class="text-center d-none d-lg-block mt-5">
            <h1>View All Stocks?</h1>
            <a href="/viewallstocks"><button>View</button></a>
        </div>
    </div>
</div>

<div class="row align-items-center content">
    <div class="col-lg-6">
        <div class="text-center d-none d-lg-block mt-5">
            <h1>Try Our Pick</h1>
            <a href="/learnmore"><button>Learn More</button></a>
        </div>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid" src="/imgs/stock3.png" alt="">
    </div>
</div>