<body>
    <div class="container">
        <h1 class="center">Lean More About Stocks</h1>

        <article class="episode">
            <a href="/learnmore/q1" type="button" class="episode__number">Q1</a>
            <div class="episode__content">
                Did you know how much in % that Amazon's stock increased in 2019?
            </div>
        </article>

        <article class="episode">
            <a href="/learnmore/q2" type="button" class="episode__number">Q2</a>
            <div class="episode__content">
                Did you know the yearly average stock price change in % by industry?
            </div>
        </article>

        <article class="episode">
            <a href="/learnmore/q3" type="button" class="episode__number">Q3</a>
            <div class="episode__content">
                Did you know which 5 stocks with prices under $100 had the most growth over the past 5 years?
            </div>
        </article>

    </div>
</body>