<h1 class="text-center d-none d-lg-block">Find Your Stock</h1>

<div class="form-style-8">
    <form action="/quizSearch/" method="post">
        <input type="text" name="ticker" placeholder="Ticker - eg: AAA" />
        <input type="text" name="date" placeholder="Date - eg: 2021-12-31" />
        <input type="text" name="open" placeholder="Open Price - eg: 25.0 " />
        <input type="text" name="high" placeholder="High Price - eg: 25.0 " />
        <input type="text" name="low" placeholder="Low Price - eg: 25.0 " />
        <input type="text" name="close" placeholder="Close Price - eg: 25.0 " />
        <input type="text" name="lastupdated" placeholder="Last Updated Time - eg: 2021-12-31 " />
        <input type='submit' value='Submit' class="button">
    </form>
</div>